@import 'tailwindcss';

@theme {
  --color-dark: #0b132b;
  --color-dark-blue: #1c2541;
  --color-medium-dark-blue: #3a506b;
  --color-lighter-blue: #5bc0be;
  --color-lightest-blue: #6fffe9;
}

/* Base font */
@layer base {
  html {
    background-color: dark;
    color-scheme: dark;
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
  }

  body {
    background-color: dark;
  }
}

/* Optional: Apply transitions only to specific elements that need them */
[data-theme-transition] {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

html {
  background-color: dark;
}
